@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
body {
  background-color: #eeeeee;
}
.header {
  display: flex;
  color: #a3a1a0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
}
h1 {
  font-size: 20px;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 10px;
}
p {
  font-size: 10px;
}
hr {
  color: rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  margin-left: 15px;
}
span {
  color: #fb7eb2;
}
img{
    width: 150px;
    height: 150px;
    border: solid 8px white;
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}
div div{
    
    padding: 1%;
    padding-bottom: 5%;
    text-align: center;
}